@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-gscode: var(--font-google-sans-code), sans-serif;
}

body {
  background: #fff;
  color: #000;
  font-family: var(--font-gscode);
}